*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    /*background-color: black; /*#a8a89a;  #be7e3b;  #b8860b;*/
    background: rgb(5,0,0);
    background: linear-gradient(180deg, rgba(5,0,0,1) 88%, rgba(168,168,154,1) 100%);
    color: whitesmoke;
    font-family: 'Work Sans', sans-serif;
    font-size: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* header */

.header{
    /* position: fixed; */
    /* z-index: 5; */
     top: 15px;
     bottom: 15px;
     left: 0;
     width: 100%;
     margin-bottom: 10px;
     padding: 10px;
 
 }
 
 .header-container{
     display: flex;
     flex-wrap: wrap; /*se finisce lo spazio, va a capo*/
 }
 
 .logo{
     font-size: 36px;
     font-weight: 600;
     line-height: 42px;
     color: #a8a89a;
     margin-right: 10px;
     text-decoration: none;
 }
 
 .menu{
     font-size: 20px;
     font-weight: 600;
     line-height: 30px;
     color: #b0885e /* #aea99e */;
     text-decoration: none;
     text-transform: uppercase;
     margin-top: 8px;
     }
 
 .menu ul{
     list-style-type: none;
     display: flex;
     flex-wrap: wrap;
 }
 
 .menu ul li{
  margin-right: 25px;
 }

 .content{
    padding: 20px;
 }

 

h1,h2,h3,h4{
    margin-bottom: 20px;
}

h1{
    font-size: 96px;
    font-weight: 600;
    line-height: 113px;
    text-align: center;
}



h2{
    font-size: 64px;
    font-weight: 600;
    line-height: 65px;
}

h3{
    font-size: 48px;
    font-weight: normal;
    line-height: 56px;
}

h4{
    font-size: 28px;
    font-weight: normal;
    line-height: 40px;
    align-self: center;
    text-decoration:wavy;
    text-align: center;
}

p{
    font-size: 25px;
    line-height: 40px;
}

/* Mobile-first styles (applies to all screen sizes by default) */
@media screen and (max-width: 768px) {

    .container {
        padding: 10px;
         margin: 0 auto;
    }

    .header {
        font-size: 18px;
    }

    .content {
        font-size: 16px;
    }

    h1{
        font-size: 55px;
        line-height:65px;
    }
    h2{
        font-size: 30px;
        line-height: 40px;
    }
    h3{
        font-size: 25px;
        line-height: 40px;
    }

    h4{
        font-size: 20px;
        line-height: 40px;
    }
    p{
        font-size: 14px;
    }
    
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

a:hover{
    color: #c0ae9c;
}

.button{
    background-color:#b0885e; /*#a8a89a; #46362B;*/
    color: whitesmoke;
    font-size: 25px;
    font-weight: 600;
    /*text-transform: uppercase;*/
    padding: 12px 24px;
    border: none;
    border-radius: 37px;
    text-decoration: none;
}

@media screen and (max-width:768px) {
    .button{
        font-size: 10px;
        padding: 6px 12px;
    }

}

.button:hover{
    background-color: #c0ae9c;
    color: whitesmoke;

}

.whatsapp-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #25d366; /* WhatsApp green */
    color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;
    font-size: 30px;
    margin-top: 15px;
  }

  @media screen and (max-width:768px) {
    .whatsapp-button{
        font-size: 20px;
        margin-top: 15px;
    }

}

  
  /* Style the icon */
  .whatsapp-button i {
    margin-right: 5px;
  }

.input-label{
    font-size: 24px;
    font-weight: 600px;
    text-transform: uppercase;
}


.input-label span{
    font-size: 18px;
    font-weight: 400px;
}

.input-field,
.input-textarea{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    color: black;
    background-color: whitesmoke;
    padding: 12px 16px;
    width: 100%;
    border: none;
    border-radius: 30px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.input-textarea{
    height: 100px;
}

@media screen and (max-width:768px) {
    .input-label{
        font-size: 18px;
    }

    .input-textarea,.input-field{
        font-size: 10px;
    }
} 

section{
    padding-top: 22px;
    padding-bottom: 10px;
    margin-bottom: 80px;
}

@media screen and (max-width:768px) {
    .section{
        margin-bottom:2px;
    }
} 

.hero{
    height: 85vh;
}
@media screen and (max-width:768px) {
    .hero{
        height: 100vh;
    }

} 



.hero-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 140px;

}

.hero-cta{
    align-self: flex-end;
    font-size: 40px;
    color: #b0885e;
    /* text-transform: uppercase; */

}


.alignleft { float: left; padding: 15px 15px 15px 0;
        max-width: 50%; /* L'immagine si adatterà alla larghezza del contenitore padre */
        height: auto; /* Mantiene l'aspetto proporzionato */
        margin: 5px 0; /* Aggiunge spaziatura sopra e sotto l'immagine */
      }
@media screen and (max-width:768px){
    .alignleft{max-width:100%;
    padding: 0 0;}
}

.alignright { float: right; padding: 15px 0 15px 15px;
    max-width: 50%;
    height: auto;}
@media screen and (max-width:768px){
        .alignright{max-width:100%;
            padding: 0 0}
    }

.aligncenter {float:inline-start; padding: 15px 15px 15px 15px;}


.circular-landscape {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    }
    .circular-landscape img {
    width: auto;
    height: 100%;
    margin-left: -100px;
    }

    .circular-square {
        border-radius: 50%;
        }  




.subjects-item{
    margin-bottom: 10px;

}

.subjects-item-tags{
    font-size: 24px;
    color: #e9cba5;

}

@media screen and (max-width:768px){
    font-size:20px;}

.subject-content{
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 100%; /* Assicura che il contenitore sia larghezza massima del dispositivo */
    margin: 0 auto; /* Centra il contenitore orizzontalmente */
    padding: 20px; /* Aggiunge spaziatura intorno al contenitore */
    text-align: center; 
    
}

.subject-content img {
    margin: auto;
    display: block;
}

.subject-content p{
    width: 100%;
    margin: auto;
    display: block;
    text-align: justify;
    font-size: 25px;
    line-height: 40px;
}



/* Homepage: Su di me e contact form */

.contact{
    height: 100vh;

}

.contacts-content{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:768px){
    .contacts-content{ 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;}
}

.contacts-about,
.contacts-form{
    width: 40%;
    flex-grow: 0;
    flex-shrink: 1;
    margin-bottom: 60px;
}


@media screen and (max-width:768px){
.contacts-about,
.contacts-form{
    width: 100%;
    flex-grow: 1;
}
}




/* Curiosità Page: menù e foto:  */

.subjects-menu{
    /* position: sticky; */
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 80%;
}
@media screen and (max-width:768px){
    .subjects-menu{ 
        display: flex;
        justify-content: unset;

}
}

.subjects-menu-content{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:768px){
    .subjects-menu-content{ 
    height: 100%;
    max-width:100%;
    display: flex;
    flex-direction: column;
}
}

.subjects-menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.subjects-menu ul li{
    margin-right: 20px;
    margin-top: 75px;
}

.subjects-menu-about{
        flex-direction: row;
        width: 50%;
        flex-grow: 0;
        flex-shrink: 1;
    }
     
.subjects-menu-img{
        width: 40%;
        flex-grow: 0;
        flex-shrink: 1;
    }
@media screen and (max-width:768px){
        .subjects-menu-img { 
            max-width: 100%;
        }
       }

@media screen and (max-width:768px){
        .subjects-menu ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .subjects-menu ul li{
            margin-right: 10px;
            margin-top: 20px;
        }
       }
    




.footer{
    background: linear-gradient(180deg, rgba(5,0,0,1) 88%, rgba(168,168,154,1) 100%);
    padding-top: 24px;
    padding-bottom: 24px;
}

.copyright{
    color: #a8a89a;

}

.anchors{
    visibility: hidden;
    position: relative;
    top: -150px;
}


/* Prezzi page */

.subject-content ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: justify;
    
}

.subject-content ul li{
    margin-left: 30px;
    margin-top: 30px;
    font-size: 22px;
    line-height: 40px;
}

.hero1{
    height: 85vh;
}
@media screen and (max-width:768px) {
    .hero1{
        height: 115vh;
    }

} 

.image-container {
    display: flex;
    justify-content: center; /* Horizontally center items */
    align-items: center; /* Vertically center items */
  }


  .image{
    max-width: 25%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 0 10px; /* Add margin between images if desired */
  }

  .imagecuriosità{
    max-width:320%;
  }

  @media screen and (max-width:768px) {
        .image-container {
            display: block; /* Change to a block layout for smaller screens */
    overflow-x: auto;
          }
          .image {
            max-width: 45%;
            margin: 5px 5px;
          }

} 




  /* Ricette page */
 
.ricette-menu{
    /* position: sticky; */
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.ricette-menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ricette-menu ul li{
    margin-right: 20px;
    margin-top: 40px;
}

.ricette-menu-about,
.ricette-menu-intro{
    height: 40%;
    flex-grow: 0;
    flex-shrink: 1;
}

.ricette-menu-intro{
    height: 60%;
}

.button2{
    background-color: #46362B; 
    color:whitesmoke;
    font-size: 20px;
    font-weight: 600;
    /*text-transform: uppercase;*/
    padding: 12px 24px;
    border: none;
    border-radius: 37px;
    text-decoration: none;
}

@media screen and (max-width:768px) {
    .button{
        font-size: 10px;
        padding: 6px 12px;
    }

}

.button:hover{
    background-color: #c0ae9c;
    color: whitesmoke;

}

.ricetta {
    background-color: #b0885e;
       }
     /* Stile delle immagini delle ricette */
     .ricetta img {
       max-width: 100%;
       height: auto;
     }
    
